body {
    background-color: rgb(78, 78, 78);
    color: black;
}
h1 {
    color: rgb(131, 131, 131);
    text-size-adjust: 1px;
    cursor: default;
}
a {
    color: #6b6bff;
    text-align: center;
    text-size-adjust: 10px;
    cursor: pointer;
}